:root {
    /* color */
    --primary-color: #3f51b5;
    --secondary-color: #f44336;
    --accent-color: #F5F1DE;
    --white: #ffffff;
    --black: #000000;
    --danger: #dc3545;
    --light-danger: #f8d7da;
    --orange: #ff7100;
    --red: #FF0000;
    --blue: #00B0F0;
    --green: #92D050;
    --light-grey: #dddddd;
    --grey: #C6C6C6;
    --highlight: dodgerblue;
    /* border */
    --empty-border: 2px dashed var(--black);
}

html,
.box {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}


/* background color */

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}


/* text color */

.text-white {
    color: var(--white);
}


/* border right */

.border-solid-right-highlight {
    border-right: 2px solid var(--highlight);
}


/* border bottom */

.border-dashes-bottom-blue {
    border-bottom: 2px dashed var(--blue);
}

.border-dashes-bottom-red {
    border-bottom: 2px dashed var(--red);
}

.border-dashes-bottom-green {
    border-bottom: 2px dashed var(--green);
}

.border-dashes-bottom-orange {
    border-bottom: 2px dashed var(--orange);
}


/* border left */

.border-dashes-left-blue {
    border-left: 2px dashed var(--blue);
}

.border-dashes-left-red {
    border-left: 2px dashed var(--red);
}

.border-dashes-left-green {
    border-left: 2px dashed var(--green);
}

.border-dashes-left-orange {
    border-left: 2px dashed var(--orange);
}


/* style button */

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.control-bar button:disabled {
    background-color: var(--grey) !important;
    color: var(--white) !important;
    border: none !important;
}

button#reset-btn {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

button:hover,
button#reset-btn:hover {
    transition: all .2s;
    background-color: var(--black);
    color: var(--white)
}

#app-bar #title {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 30px;
}


/* CONTENT */

.container,
.row {
    display: flex;
}

.container {
    flex-direction: column;
}

.box {
    overflow-x: auto;
    background-color: var(--accent-color);
    border: 1px solid var(--black);
    margin: 50px 200px;
    margin-bottom: 0;
    padding: 50px;
}

@media only screen and (max-width: 1300px) {
    .box {
        background-color: var(--accent-color);
        margin: 50px 50px;
        padding: 50px 50px;
    }
}

#content-wrapper {
    padding-bottom: 50px;
}

#content-wrapper .row {
    flex-direction: row;
}

table {
    border-collapse: collapse;
}


/* result table */

div#result-box {
    display: block;
}

table#result-table {
    border-spacing: 0px;
    width: 100%;
}

table#result-table .level-name-cell {
    text-align: left;
}

table#result-table td {
    height: 30px;
}

table#result-table thead th {
    text-align: left;
}

table#result-table .process-label {
    color: var(--white);
}

table#result-table tbody td:nth-child(odd) {
    /*background-color: dodgerblue;*/
}

table#result-table th.level-thead,
table#result-table th.process-thead {
    width: 150px;
}

table#result-table td {}


/* data table */

form#main-form {
    display: flex;
    flex-direction: column;
}

.form-table {
    max-width: 100%;
    border-collapse: collapse;
}

td.process-name,
th {
    padding: 5px;
}

.form-table td,
.form-table th {
    min-width: 30px;
    border: 1px solid var(--black);
    text-align: center;
}

.form-table .process-name {
    text-align: left;
}

.form-table input {
    width: 50px;
    height: 20px;
    text-align: center;
}


/* statistic table */

table#statistic-table {
    width: 300px;
    background-color: var(--white);
}

@media only screen and (max-width: 350px) {
    table#statistic-table {
        width: 100%;
    }
}

table#statistic-table tr:nth-child(even) {
    background-color: #dddddd;
}

table#statistic-table tbody tr:last-child {
    background-color: dodgerblue;
    color: var(--white);
    font-weight: bold;
}

table#statistic-table td,
table#statistic-table th {
    border: 1px solid var(--light-grey)
}

table#statistic-table td:first-child {
    font-weight: bold;
}

table#statistic-table td:not(:first-child) {
    text-align: right;
}

table#statistic-table td {
    padding-left: 5px;
    padding-right: 5px;
}


/* control bar */

.control-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.control-bar button {
    margin-right: 20px;
}


/* responsive */

@media only screen and (max-width: 800px) {
    .control-bar {
        flex-direction: column;
    }
    .control-bar button {
        min-width: 160px;
    }
    .box {
        padding: 10px;
        margin: 0px;
    }
}


/* option  bar */

.option-bar {
    display: flex;
    margin: 10px 0;
}

.option-bar div {
    margin-right: 30px;
}

input#quantum-input {
    width: 50px;
    text-align: center;
}

#quantum-container {
    display: none;
}

#ready-queue tr {
    height: 30px;
}

.tr-spacing td {
    border-top: 1px solid var(--black);
}

.level-column-empty {
    border-left: 1px dashed var(--black);
    border-right: 1px dashed var(--black);
}

.left-dashes-border {
    border-left: var(--empty-border);
}

.right-dashes-border {
    border-right: var(--empty-border);
}

.vertical-dashes-border {
    border-left: var(--empty-border);
    border-right: var(--empty-border);
}


/* error message */

p#error-message-area:empty {
    height: 0px;
    padding: 0px;
    margin: 0px;
}

p#error-message-area {
    color: var(--danger);
    background-color: var(--light-danger);
    padding-left: 30px;
}

table#result-table tbody td:not(.process-name) {}


/* rendering mode */

#rendering-mode-container {
    display: flex;
    margin-top: 10px;
}

.radio-button-container {
    display: flex;
}

input[type="radio"]:checked+label {
    color: dodgerblue;
    font-weight: bold;
}